html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-page {
  line-height: 21px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  margin: 0;
  padding: 0;
}

.main-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;

  color: #000000;
  background-color: #ffffff;
}

.main-navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 16px;
}

.main-navigation-list-1 {
  width: 338px;
}

.main-navigation-list-2 {
  width: 330px;
}

.main-navigation-list-1 li {
  width: 50%;
}

.main-navigation-list-2 li {
  width: 50%;
}

.main-navigation-list-1 li:nth-child(2n),
.main-navigation-list-2 li:nth-child(2n){
  text-align: right;
}

.main-navigation-list a {
  font-weight: bold;
  color: #000000;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  color: #81b3d2;
}

.main-navigation-list a:active {
  color: #b2b2b2;
}

.main-navigation-current a {
  color: #766357;
}

.main-navigation-current a:hover {
  color: #766357;
}

.main-navigation-current a:active {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  left: calc(50% - 70px);
  z-index: 1;
  width: 140px;
  height: 72px;
  margin: 0;
  padding: 0;
}
/**-----------------------------------------**
*                 MAIN
***-----------------------------------------*/
/* .main-picture {
  background-image: url(../img/welcome.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.promo-picture {
  min-height: 508px;
  margin: 0 auto;
  padding: 0;

  background-image: url(../img/background-photo.jpg);
  background-size: 1200px 773px;
  background-repeat: no-repeat;
  background-position: 50% 21%;
}

.promo-picture .container {
  position: relative;
  width: 1200px;
  min-height: 508px;
}

.welcome-picture::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 58px;
  left: 0;
  bottom: 0;

  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  background-size: 1200px 59px;
}

.welcome-picture {
  height: 353px;
  padding-top: 75px;

  text-align: center;
}

.description {
  list-style: none;
}

.description {
  min-height:  216px;
  margin: 0;

  text-align: center;

  background-color: #ffffff;
}

.description h1 {
  max-width: 460px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  padding-top: 60px;

  font-size: 21px;
}

.description p {
  margin: 0;
  padding: 0;

}

.reason-1 {
  list-style: none;
}

.reason-1,
.reason-2 {
  width: 1200px;
  min-height: 256px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-1 img,
.reason-2 img {
  height: 256px;
}

.reason-1 h2 {
  max-width: 140px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  padding-top: 47px;

  font-size: 21px;
  line-height: 21px;
}

.reason-1 p {
  max-width: 290px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  padding-bottom: 20px;

  line-height: 21px;
}

.reason-1 img {
}

.reason-1 .container {
  display: flex;
}

.reason-1-wrapper,
.reason-2-wrapper {
  width: 400px;
}

.features,
.feature-item {
  list-style: none;
}

.features {
  margin: 0;
  padding: 0;

  text-align: center;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.feature-item {
  width: 400px;
  min-height: 330px;
  margin: 0;
  padding: 0;
}

.features h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
}

.features-list li {
  position: relative;
}

.feature-item-house img {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 29px;
}

.feature-item-food img {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 29px;
}

.feature-item-stuff img {
  display: block;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 29px;
}

.feature-item-house p {
  max-width: 263px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  line-height: 21px;
}

.feature-item-food p {
  max-width: 290px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  line-height: 21px;
}

.feature-item-stuff p {
  max-width: 290px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  line-height: 21px;
}

.reason-2 {
  list-style: none;
}

.reason-2 h2 {
  max-width: 151px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  padding-top: 47px;

  font-size: 21px;
  line-height: 21px;
}

.reason-2 p {
  max-width: 315px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  padding-bottom: 20px;

  line-height: 21px;
}

.reason-2 .container {
  display: flex;
}

.reason-2 img {
  order: -1;
}

.other-reasons {
  list-style: none;
}

.other-reasons {
  width: 1200px;
  min-height: 256px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.other-reasons h3 {
  max-width: 130px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  padding-top: 47px;

  font-size: 21px;
  line-height: 21px;
}

.other-reasons .container {
  display: flex;
}

.reason-3,
.reason-4,
.reason-5 {
  width: 400px;
}

.reason-3 p {
  max-width: 220px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  padding-bottom: 20px;

  line-height: 21px;
}

.reason-4 p {
  max-width: 280px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  padding-bottom: 20px;

  line-height: 21px;
}

.reason-5 p {
  max-width: 250px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;
  padding-bottom: 20px;

  line-height: 21px;
}

.excited {
  list-style: none;
}

.excited .container {
  display: flex;
  flex-direction: column;
  min-height: 205px;
}

.excited {
  text-align: center;
}

.excited h2 {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-top: 50px;
  font-size: 30px;
  line-height: 36px;
}

.excited p {
  max-width: 450px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  line-height: 24px;
}

.search-form-wrapper {
  position: relative;
}

.button-search-form-show {
  display: block;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  margin-top: auto;
  padding: 0;

  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: #766357;
}


.button-search-form-show:hover {
  color: #ffffff;

  background-color: #604e43;
}

.button-search-form-show:active {
  color: rgba(255,255,255, 0.3);

  background-color: #503e33;
}

.search {
  text-align: center;
}

.search-wrapper {
  position: relative;
  display: inline-flex;
}

.search-form {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  width: 568px;
  height: 395px;
  margin: 0 auto;
  padding: 0;

  font-weight: bold;

  background-color: #ffffff;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 55px;
}

.appointment-item {
  position: relative;
  width: 460px;
  margin-bottom: 33px;
}

.appointment-item input {
  width: 345px;
  padding-left: 13px;
  padding-top: 11px;
  padding-bottom: 8px;
}

.appointment-item-in input {
  margin-left: 23px;
}

.appointment-item-out input {
  margin-left: 20px;
}

.adults-children-wrapper {
  display: flex;
  justify-content: space-between;
  width: 458px;
  margin-bottom: 55px;
}

.adults-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 224px;
}

.button-plus-minus-wrapper {
  display: flex;
  min-height: 36px;
}

.button-plus-minus-wrapper input:focus {
  outline: 0;
}

.adults-form-wrapper button,
.children-form-wrapper button {
  /* padding: 15px; */
  font-size: 21px;
  line-height: 26px;
}

.adults-form-wrapper input {
  width: 38px;
  padding: 10px;

  text-align: center;
}

.button-adults-minus {
  padding-left: 8px;
  padding-right: 12px;
}

.button-adults-plus {
  padding-right: 12px;
  padding-left: 13px;
}

.button-adults-minus,
.button-adults-plus,
.button-children-minus,
.button-children-plus {
  color: #a9a9a9;
}

.button-adults-minus:hover,
.button-adults-plus:hover,
.button-children-minus:hover,
.button-children-plus:hover {
  color: #000000;
}

.button-adults-minus:active,
.button-adults-plus:active,
.button-children-minus:active,
.button-children-plus:active {
  color: #81b3d2;
}

.children-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 179px;
}

.children-form-wrapper input {
  width: 20px;

  text-align: center;
}

.button-children-minus {
  padding-left: 9px;
  padding-right: 19px;
}

.button-children-plus {
  padding-right: 13px;
  padding-left: 23px;
}

.button-form-calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  width: 21px;
  height: 22px;

  border: none;
  background-color: transparent;
  background-image: url(../img/calendar-gray.svg);
  background-repeat: no-repeat;
}

.button-form-calendar:hover {
  background-image: url(../img/calendar-black.svg);
  background-repeat: no-repeat;
}

.button-form-calendar:active {
  background-image: url(../img/calendar-blue.svg);
  background-repeat: no-repeat;
}

.button-form-calendar:focus,
.appointment-form button:focus {
  outline: 0;
}

.search-form input {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

.appointment-form button {
  background-color: #f2f2f2;
  border: none;
}

.search-form button[type="submit"] {
  width: 458px;
  height: 59px;
  padding: 0;
  margin-top: auto;

  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #81b3d2;
}

.search-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: rgba(255,255,255, 0.3);

  background-color: #5496bd;
}

.search-form-show {
  display: block;
  animation: bounce-down 0.2s;
}

@keyframes bounce-down {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

.search-form-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.map-wrapper {
  width: 1200px;
  height: 473px;
  margin: 0;
  padding: 0;

  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 593px;
}

.map iframe {
  border: none;
}

/**-----------------------------------------**
*                 CATALOG PAGE
***-----------------------------------------*/

/* .filters {
  list-style: none;
}

.filter {
  list-style: none;
} */

.filter-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-item-list li {
  position: relative;
}

.filters {
  min-height: 217px;

  color: #ffffff;

  background-image: url(../img/filter-background.jpg);
  background-size: 1200px 562px;
  background-position: 50% 16%;
  background-repeat: no-repeat;
}

.filter {
  display: flex;
  padding-top: 27px;
  padding-left: 72px;
  padding-right: 72px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-right: 118px;
}

.filter-item ul {
  padding-top: 25px;
}


.filter-item-utilities li {
  padding-bottom: 25px;
  padding-left: 39px;
}

.filter-item-house li {
  padding-bottom: 25px;
  padding-left: 42px;
}

.filter-input-checkbox-on + .checkbox-indicator::before,
.filter-input-checkbox-off + .checkbox-indicator::before {
  content: "";
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox-on:checked+ .checkbox-indicator::before,
.filter-input-checkbox-off:checked+ .checkbox-indicator::before{
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox-on:checked:focus+ .checkbox-indicator::before,
.filter-input-checkbox-off:focus+ .checkbox-indicator::before{
  outline: 1px solid #669ec0;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox-on:disabled+ .checkbox-indicator::before {
  background-image: url(../img/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox-off:disabled+ .checkbox-indicator::before {
  background-image: url(../img/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
}

.filter-range {
  width: 316px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 37px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 147px;
  padding-left: 63px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 9px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  position: absolute;
  top: -10px;

  width: 6px;
  height: 6px;

  background: #ababab;
  border: 11px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  width: 137px;
  height: 36px;
  margin: 0;
  margin-left: 82px;
  padding: 0px 36px;

  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.filter-sorting .container {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 32px;

  border-bottom: 1px solid #e5e5e5;
}

.filter-found {
  margin: 0;
  padding-left: 72px;
  padding-right: 48px;

  font-size: 21px;
  font-weight: bold;
}

.filter-sort {
  padding-right: 40px;
}

.filter-sorting a,
.filter-sort {
  font-size: 12px;
  line-height: 18px;
}

.filter-sorting a:focus {
  outline: 1px solid #669ec0;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-sorting-price {
  padding-right: 32px;

  color: #81b3d2;
  cursor: pointer;
}

/*.filter-sorting-price:focus,*/
/*.filter-sorting-type:focus,*/
/*.filter-sorting-rating:focus {*/
  /**/
/*}*/

.filter-sorting-type {
  margin-right: 34px;
}

.filter-sorting-type,
.filter-sorting-rating {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
  cursor: pointer;
}

.filter-sorting-type:hover,
.filter-sorting-rating:hover {
  color: #81b3d2;

  border-bottom: 1px dashed #81b3d2;
}

.filter-sorting-type:active,
.filter-sorting-rating:active {
  color: #000000;

  border: none;
}

.filter-sorting-button {
  margin-left: auto;
  padding-left: 25px;
  padding-right: 71px;

  cursor: pointer;
}

.filter-sorting-button-up {
  position: relative;
  width: 11px;
  height: 10px;
  margin-right: 8px;

  border: none;
  background-color: transparent;
}

.filter-sorting-button-down {
  position: relative;
  width: 11px;
  height: 10px;

  border: none;
  background-color: transparent;
}

.filter-sorting-button-up::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 11px;
  height: 10px;

  background-image: url(../img/filter-up-gray.svg);
}

.filter-sorting-button-up:hover::before {
  position: absolute;

  background-image: url(../img/filter-up-black.svg);
}

.filter-sorting-button-up:active::before {
  position: absolute;

  background-image: url(../img/filter-up-blue.svg);
}

.filter-sorting-button-down::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 11px;
  height: 10px;

  background-image: url(../img/filter-down-gray.svg);
}

.filter-sorting-button-down-active::before {
  position: absolute;

  background-image: url(../img/filter-down-blue.svg);
}

.filter-sorting-button-down:hover::before {
  position: absolute;

  background-image: url(../img/filter-down-black.svg);
}

.filter-sorting-button-down:active::before {
  position: absolute;

  background-image: url(../img/filter-down-blue.svg);
}

/*.hotel-hard {*/
  /*display: flex;*/
  /*padding: 32px 72px;*/

/*}*/

/*.hotel-hard img {*/
  /*width: 135px;*/
  /*height: 90px;*/
/*}*/

/*.hotel-hard h3 {*/
  /*order: -1;*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.hotel-hard a {*/
  /*order: -2;*/
  /*padding-right: 32px;*/
/*}*/

.hotels-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotels-found h3,
.hotels-found p {
  margin: 0;
  padding: 0;
}

.hotels-found h3 {
  padding-top: 26px;

  font-size: 21px;
}

.hotel-item {
  display: flex;
  width: 1200px;
  min-height: 151px;
  margin: 0 auto;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-img {
  padding-left: 72px;
  padding-top: 30px;
  padding-right: 30px;
}

.hotel-img img {
  width: 135px;
  height: 90px;
}

.hotel-desc {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.hotel-details-reserve-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.hotel-type-price-wrapper {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin-bottom: 13px;
}

.hotel-item-details {
  width: 110px;
  height: 28px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 10px;

  font-weight: bold;
  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-item-details:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-item-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel-item-reserve {
  width: 142px;
  height: 28px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 10px;

  font-weight: bold;
  text-align: center;

  color: #ffffff;
  background-color: #766357;
}

.hotel-item-reserve:hover {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-item-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 72px;
}

.rating ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 51px;
  padding-top: 28px;
}
.hotel-rating-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hotel-rating-star li {
  width: 18px;
  height: 17px;
  margin-left: 6px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}

.hotel-rating {
  width: 110px;
  height: 23px;

  text-align: center;
}

.hotel-desc .hotel-title {
  margin-bottom: 11px;

  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.hotel-desc .hotel-title:hover {
  color: #81b3d2;
}

.hotel-desc .hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
}

/**-----------------------------------------**
*                 FOOTER
***-----------------------------------------*/

.main-footer {
  list-style: none;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 133px;
  padding-right: 100px;
  padding-top: 36px;
  padding-bottom: 36px;

  background-color: #ffffff;
}

.hashtag {
  margin: 0;
  padding: 0;
}

.hashtag-link {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 27px;
}

.social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0;
  padding: 0;

  vertical-align: top;

  background-color: #81b3d2;
}

.social-list li {
  margin-right: 6px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-twitter {
  background-image: url(../img/twitter-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-twitter:active {
  background-image: url(../img/twitter-icon-opacity.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-facebook {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-facebook:active {
  background-image: url(../img/fb-icon-opacity.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-youtube {
  background-image: url(../img/youtube-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-youtube:active {
  background-image: url(../img/youtube-icon-opacity.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  margin: 0;
  padding: 0;
}

.copyright-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.copyright-wrapper span {
  margin-right: 9px;
  padding-top: 6px;
}


.copyright-wrapper a {
  display: inline-block;
  width: 115px;
  height: 41px;

  vertical-align: top;

  background-image: url(../img/logo-htmlacademy-black.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-wrapper a:hover {
  background-image: url(../img/logo-htmlacademy-blue.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-wrapper a:active {
  background-image: url(../img/logo-htmlacademy-gray.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
