body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}
.catalog-page {
  line-height: 21px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.main-header {
  margin: 0;
  padding: 0;
  background-image: url(../img/background-photo.jpg);
  background-size: 1200px 773px;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-picture {
  width: 459px;
  height: 353px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 79px;

}

.main-navigation {
  height: 56px;
  color: #000000;

  background-color: #ffffff;
}



.main-navigation-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}


.main-navigation-list a {
  font-weight: bold;

  color: white;
  color: #000000;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  color: #81b3d2;
}

.main-navigation-list a:active {
  color: #b2b2b2;
}

.main-navigation-current a {
  color: #766357;
}

.main-navigation-current a:hover {
  color: #766357;
}

.main-navigation-current a:active {
  color: #766357;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  margin: 0;
  padding: 0;
}
/**-----------------------------------------**
*                 MAIN
***-----------------------------------------*/
/* .main-picture {
  background-image: url(../img/welcome.svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.description {
  list-style: none;
}

.description {
  margin: 0;
  /* padding-top: 61px;
  padding-bottom: 56px;
  padding-left: 355px;
  padding-right: 355px; */

  min-height:  216px;
  text-align: center;

  background-color: #ffffff;
}

.description h2 {
  font-size: 21px;
}

.reason-1 {
  list-style: none;
}

.reason-1 h2 {
  font-size: 21px;
}

.reason-1 {
  width: 1200px;
  height: 256px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-1 img {
}

.reason-1 .container {
  display: flex;
}

.reason-1-wrapper {
  width: 400px;
}

.features-list,
.feature-item {
  list-style: none;
}

.features-list {
  margin: 0;
  padding: 0;

  text-align: center;
}

.features-list .container {
  display: flex;
}

.feature-item {
  width: 400px;
  height: 330px;
}

.features-list h3 {
  font-size: 21px;
}

.reason-2 {
  list-style: none;
}

/* width */
.reason-2 {
  width: 1200px;
  height: 256px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-2 h2 {
  font-size: 21px;
}

.reason-2 .container {
  display: flex;
}

.reason-2 img {
  order: -1;
}

.reason-2-wrapper {
  width: 400px;
}

.other-reasons {
  list-style: none;
}

.other-reasons h2 {
  font-size: 21px;
}

.other-reasons {
  width: 1200px;
  height: 256px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.other-reasons .container {
  display: flex;
}

.reason-3,
.reason-4,
.reason-5 {
  width: 400px;
}

.excited {
  list-style: none;
}

.excited .container {
  display: flex;
  flex-direction: column;
}

.excited-wrapper {
  margin-bottom: 52px;
}

.excited {
  min-height: 291px;

  text-align: center;
}

.excited h2 {
  font-size: 21px;
}

.button-search-form-show {
  align-items: flex-end;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  /* mgt ? */
  margin-top: auto;
  padding: 0;

  text-align: center;
  font-size: 21px;
  color: #ffffff;

  border: none;
  background-color: #766357;
}


.button-search-form-show:hover {
  color: #ffffff;

  background-color: #604e43;
}

.button-search-form-show:active {
  color: rgba(255,255,255, 0.3);

  background-color: #503e33;
}

.search-form {
  list-style: none;
}

.appointment-form {
  width: 568px;
  margin: 0 auto;
  padding: 0;
}

.search-form {
  font-weight: bold;
}

/* .search-form h2 {
  width: 568px;
  height: 86px;
  margin: 0 auto;
  padding: ;

  text-align: center;
  font-size: 21px;
  color: #ffffff;

  background-color: #766357;
} */

/* .search-form h2:hover {
  color: #ffffff;

  background-color: #604e43;
}

.search-form h2:active {
  color: rgba(255,255,255, 0.3);

  background-color: #503e33;
} */

.search-form input {
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-form button {
  background-color: #f2f2f2;
  border: none;
}

.search-form button[type="submit"] {
  color: #ffffff;

  background-color: #81b3d2;
}

.search-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: rgba(255,255,255, 0.3);

  background-color: #5496bd;
}

/* catalog page */

.filters {
  list-style: none;
}

.filter {
  list-style: none;
}

.filter-list {
  list-style: none;
}

.filters {
  color: #ffffff;

  background-image: url(../img/filter-background.jpg);
  background-size: 1200px 217px;
  background-position: center;
  background-repeat: no-repeat;
}

.filter {
  display: flex;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.cost-range-output {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.filter button[type=submit] {
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
}

.filter button[type=submit]:hover {
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.filter-sorting {
  list-style: none;

  min-height: 87px;
}


.filter-sorting .container {
  display: flex;

  border-bottom: 1px solid #e5e5e5;
}

.filter-found {
  font-size: 21px;
  font-weight: bold;
}

.filter-sorting span {
  font-size: 12px;
  line-height: 18px;
}

.filter-sorting-price {
  color: #81b3d2;
}

.filter-sorting-type,
.filter-sorting-rating {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}

.filter-sorting-type:hover,
.filter-sorting-rating:hover {
  color: #81b3d2;

  border-bottom: 1px dashed #81b3d2;
}

.filter-sorting-type:active,
.filter-sorting-rating:active {
  color: #000000;

  border: none;
}

/* .filter-sorting-button-up {

} */

.hotels-list {
  list-style: none;

  display: flex;
  flex-direction: column;
}

.hotel-item-1,
.hotel-item-2,
.hotel-item-3 {
  display: flex;
  width: 1200px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-right: 72px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-1-desc .hotel-title,
.hotel-2-desc .hotel-title,
.hotel-3-desc .hotel-title {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.hotel-1-desc .hotel-title:hover,
.hotel-2-desc .hotel-title:hover,
.hotel-3-desc .hotel-title:hover {
  color: #81b3d2;
}

.hotel-1-desc .hotel-title:active,
.hotel-2-desc .hotel-title:active,
.hotel-3-desc .hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-details {
  color: #ffffff;

  background-color: #81b3d2;
}

.hotel-item-details:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.hotel-item-details:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-item-reserve {
  color: #ffffff;

  background-color: #766357;
}

.hotel-item-reserve:hover {
  color: #ffffff;

  background-color: #604e43;
}

.hotel-item-reserve:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}


/**-----------------------------------------**
*                 FOOTER
***-----------------------------------------*/

.main-footer {
  list-style: none;
}

.main-footer .container {
  display: flex;
}

.hashtag-link {
  width: 400px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.social-list {
  list-style: none;
}

.social {
  width: 400px;
  margin: 0;
  padding: 0;
}

.social-Twitter,
.social-Facebook,
.social-Youtube {
  background-color: #81b3d2;
}

.copyright {
  width: 400px;
  margin: 0;
  padding: 0;
}
